html,
body {
  background-color: #787878;
  color: #ff6347;
  font-family: "Merriweather", serif;
}

section#centered,
#centered {
  margin: 0 auto;
  margin: 10px;
  border: 4px solid #ff6347;
  display: inline-block;
  text-align: center;
}

.work,
.hobbies {
  font-size: 20px;
  font-weight: 200;
}

.work {
  border: 2px solid #ff6347;
}

.hobbies {
  color: darkgreen;
  margin: 0 auto;
  margin: 20px;
  display: grid;
  list-style: inside;
  text-align: center;
  border: 2px solid darkgreen;
}

#email {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: 300;
}

h5 {
  font-size: 25px;
  font-weight: 250;
}

ol {
  list-style: inside;
}

a,
a:link {
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  background-color: green;
  color: #ff6347;
}

/* love */
a:link,
a:visited {
}

/* hate */
a:hover,
a:active {
}

section#contact_info h3 {
  color: darkgreen;
  font-size: 20px;
  font-weight: 200;
}
