@import "desktop.css";

@media only screen and (max-width: 600px) {
}
.image1 {
  width: 600px;
  height: 400px;
}

.fancyimg {
  width: 600px;
  height: 400px;
}

.fancyimg2,
.fancyimg3 {
  width: 600px;
  height: 200px;
}

.fancyimg4 {
  width: 400px;
  height: 300px;
}

.panorama {
  width: 100%;
  float: left;
  margin-top: -5px;
  height: 600px;
}

.tps-section {
  width: 100% !important;
  max-width: 1000px;
  margin: 0 auto;
  height: 500px;
}
